body {
    font-family: Arial, Helvetica, sans-serif;
}

.toFahr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    margin: 12px 25%;
    border: solid;
    border-radius: 75px;
    background: linear-gradient(rgb(226, 230, 28), rgb(243, 152, 152), rgb(174, 235, 125));
    width: 50%;
}

.toCels {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    margin: 12px 25%;
    border: solid;
    border-radius: 75px;
    background: linear-gradient(rgb(21, 253, 253), rgb(151, 208, 255), rgb(243, 173, 243));
    width: 50%;
}

button {
    margin: 12px 0;
    padding: 12px;
    border-radius: 12px;
    background-color: white;
    color: blue;
    font-weight: 600;
}

label {
    margin: 8px;
}

p {
    font-size: 32px;
}